/* Box sizing reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

#root,
#app {
  isolation: isolate;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  font-size: 15px;
  background-color: hsl(240, 78%, 98%);
  height: 100vh;
  overflow-x: hidden;
  background-image: url("./images/bg-top.svg");
  background-repeat: no-repeat;
  background-position: 180px -30px;
}
@media (min-width: 550px) {
  body {
    background-position: 100% -30px;
  }
}
.background-img{
    position: absolute;
    right: -192px;
    top: -50px;
    z-index: -1;
}
.background-img2{
    display: none;
}
.brand{
     font-size: 36.8px;
  font-weight: 500;
  color: hsla(232, 13%, 33%, 0.829);
  margin-top: 70px;
  font-weight: 700;

}
.toggle-container{
       display: flex;
    align-items: center;
    gap: 19px;
    color: hsl(234, 14%, 74%);
    margin-bottom: 30px;
}
.toggle {
   
  position: relative;
  display: inline-block;
  width: 75px;
  height: 40px;
}

.toggle input {
  
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    user-select: none; 
  position: absolute;
  cursor: pointer;
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 34px;
  top: 0; left: 0; right: 0; bottom: 0;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  left: 5px;
  top: 5px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* When toggled ON */
#billing-toggle:checked + .toggle-container .slider::before {
  transform: translateX(35px);
}

hr {
  height: 1px;
  border: none;
  background-color: hsl(232, 13%, 33%);
  opacity: 0.3;
}
.card2 hr {
  background-color: rgb(255, 255, 255);
}

.title {
  font-size: 30px;
  font-weight: 500;
  color: hsla(232, 13%, 33%, 0.829);
  margin-top: 70px;
  font-weight: 700;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}
.cards-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 10px;
}
.cards {
  height: 450px;
  width: 330px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
  border-radius: 10px;
  box-shadow:none;
}
.card-heading {
  font-size: 18px;
}

span {
  font-weight: bold;
}
.dollar {
  display: flex;
  align-items: center;
  font-size: 40px;
  justify-content: center;
  gap: 7px;
}
.card1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: hsl(232, 13%, 33%);
  gap: 13px;
}
.card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(180deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  gap: 13px;
}
.card3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: hsl(232, 13%, 33%);
  gap: 13px;
}
.amount {
  font-size: 4.4rem;
  font-weight: 700;
}
.light-color {
  color: hsla(232, 13%, 33%, 0.747);
}
.learnmore {
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  padding: 12px;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 15px;
      font-size: 13px;
    letter-spacing: 1px;
}
.button-2 {
  background: white;
  color: hsl(237, 63%, 64%);
}

#billing-toggle:checked ~ .cards-container .price {
  display: none;
}

#billing-toggle:checked ~ .cards-container .price-month {
  display: block;
  font-weight: 700;
        font-size: 4.4rem;
        
}
.price-month{
        display: none;
}


@media (min-width: 1024px) {
  body {
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-position: top right, bottom left;
  }
  .cards-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0px;
  }
  .cards{
    box-shadow: 1px 1px 30px hsla(234, 69%, 72%, 0.274);
  }
  .card2 hr {
    background-color: rgb(255, 255, 255);
  }
  .bottom-svg {
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
  }
  .card2 {
    height: 492px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .cards {
    width: 350px;
  }
  .card3{
    border-radius: 0px 10px 10px 0px;
  }
  .card1{
    border-radius: 10px 0px 0px 10px;
  }
  
}
